<! DOCTYPE html>
<html>

  <head>
  <script src="{{ url_for('static', filename="js/indexJS.js") }}"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/escaparate.css') }}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>

let catalogo;

 async function getUsers() {
    let url = 'http://127.0.0.1:5000/listacatalogou';
    try {
        let res = await fetch(url);
        return await res.json();
    } catch (error) {
        console.log(error);
    }
}


async function renderUsers() {
    let users = await getUsers();
    catalogo = users;
    let html = '';
    users.forEach(user => {
        let htmlSegment = `<figure>
        <img src="${user.foto}">  <figcaption id=\"caption\"></figcaption>   <span id=\"estilo\" class=\"estilo\">"${user.estilo}"</span><a id=\"anadecarro\" class=\"button\" href=\"#\">${user.precio}€</a></figure>
      </figure>  `;

        html += htmlSegment;
    });

    let container = document.querySelector('.columns_5');
    container.innerHTML = html;
}

renderUsers();

console.log(catalogo);



 /*fetch('http://127.0.0.1:5000/listacatalogo')
  .then(res => res.json())
  .then((out) => {
    var traduce = JSON.stringify(out);
    catalogo = JSON.parse(traduce);


    return catalogo;
  })
  .catch(err => {
    throw err
  });
 console.log(catalogo);

 for(i in catalogo){
	let current = catalogo[i];
	console.log(current.foto);
	console.log(current.estilo);

}*/

//catalogo.forEach(creaelementos(getKeyByValue(catalogo, "foto"), getKeyByValue(catalogo, "precio"), getKeyByValue(catalogo, "estilo")));
//console.log(getKeyByValue(catalogo[0][0],"foto"));



function getKeyByValue(object, value) {
  return Object.keys(object).find(key => object[key] === value);
}

function creaelementos(imagen,precio,estilo){
  var newElement = document.createElement("figure");

document.getElementById("columns").appendChild(newElement);

$("figure").append("<img src="+imagen+">  <figcaption id=\"caption\"></figcaption>   <span id=\"estilo\" class=\"estilo\">"+precio+"</span><a id=\"anadecarro\" class=\"button\" href=\"#\">"+estilo+"</a></figure> ");

        }

</script>


  <!--Barra de navegacion-->
  <nav class="navbar navbar-toggleable-md navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1"
        aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <strong>SnowClothes</strong>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Inicio</a>
          </li>
        <li class="nav-item">
            <a href="/catalogo" class="nav-link">Ver todo</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

</head>
<body id="cuerpo">
<div id="columns" class="columns_5">
    <figure id="catalogo">

    </figure>

      </div>
    </body>
      </html>